<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>form</title>
</head>
<body>
	<div id="wrap">
		<form  method="post" id="formId" action="/post">
			<label for="firstname">姓名：</label><input type="text" name="firstname" id="name"><br>
			<label for="username">用户名：</label><input type="text" name="username" id="username"><br>
			<label for="gender">性别：</label><input type="text" name="gender" id="gender"><br>
			<label for="age">年龄：</label><input type="text" name="age" id="age"><br>
			<label for="address">籍贯：</label><input type="text" name="address" id="address"><br>
			<label for="married">婚否：</label><input type="radio" name="married"><input type="radio" name="married" ><br>
			<!-- <label for="photo">上传照片：</label><input type="file" name="photo" id="photo"><br> -->
			<input type="submit" value="提交">
		</form>
	</div>
	<script>
		// var garr = [];
		// var onearr = [1,2,3,4,5,6];
		// var twoarr =['a','b','c','d','e','f'];
		// var threearr = [true,false,false,true,true,true];
		// garr.push(onearr,twoarr,threearr);
		// console.log(garr);
		// var str='';
		// var arr= [];
		// for(var i=0;i<garr.length;i++){

		// 	for(var j=0;j<garr[i].length;j++){
		// 		var strj +=garr[i][j]
		// 	}
		// 	str+=str[j].join('');
		// }

		// console.log(str)

		// var arr=[1,2,3,4,5]
		// for(var i=0;i<arr.length;i++){
		// 	(function (i) {
		// 		setTimeout(function () {
		// 			console.log(i)
		// 		},1000*i)
		// 	})(i)

		// }
		// function pr (a) {
		// 	console.log(a);
		// }
	</script>
</body>
</html>