html,body {
	/*width: 100%;
	height: 100%;*/
	background-color: #191E21;
}
.wrap {
	/*width: 100%;
	height: 100%;*/
	margin: 0 auto;
}
.login {
	margin: 0 auto;
}
#login-form {
	box-sizing:border-box;
	width: 300px;
	height: 250px;
	background-color: #F7F7F7;
	margin: 0 auto;
	margin-top: 50px;
	padding: 20px;
	padding-top: 35px;
}
#login-form input{
	padding-left: 5px;
	height: 30px;
	width: 245px;
	border: 1px solid #C5C5C5;
}
#username {
	margin: 0 auto;
}
#pwd {
	margin: 0 auto;
	margin-top: 20px;
}
.login-btn {
	width: 250px;
	height: 30px;
	background-color: #00C1DE;
	margin-top: 40px;
	line-height: 30px;
	text-align: center;
	color:#fff;
}
.login-btn:hover {
	background-color: #39B0FF;
}